<b> First we scan the Data we need, this is Data of people to see if thier income above 50 k or below <b/>

In [65]:
import pandas as pd
data1 = pd.read_csv(r"C:\Users\abdel\Desktop\Dataminingproject\Student Intervention.csv")
data1.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

<b> get more info in our data <b/>

In [66]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35941 entries, 0 to 35940
Data columns (total 14 columns):
age                35941 non-null int64
workclass          35941 non-null object
education_level    35941 non-null object
education-num      35941 non-null int64
marital-status     35941 non-null object
occupation         35941 non-null object
relationship       35941 non-null object
race               35941 non-null object
sex                35941 non-null object
capital-gain       35941 non-null int64
capital-loss       35941 non-null int64
hours-per-week     35941 non-null int64
native-country     35941 non-null object
income             35940 non-null object
dtypes: int64(5), object(9)
memory usage: 3.8+ MB

In [67]:
data1.describe()

                age  education-num  capital-gain  capital-loss  hours-per-week
count  35941.000000   35941.000000  35941.000000  35941.000000    35941.000000
mean      38.453521      10.119501   1107.321805     88.580396       40.942211
std       13.158986       2.553979   7510.553987    404.888403       11.991999
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

<b> we can see that the min age is 17 and the max age is 90 while the average is 38 <b/>

In [68]:
print('Covariance: ')
print(data1.cov())
print('Correlation: ')
print(data1.corr())

Covariance:
                        age  education-num  capital-gain   capital-loss  \
age              173.158921       1.326937  8.078574e+03     327.656637
education-num      1.326937       6.522809  2.434880e+03      83.307156
capital-gain    8078.573722    2434.880296  5.640842e+07  -98089.732801
capital-loss     327.656637      83.307156 -9.808973e+04  163934.618891
hours-per-week    16.423176       4.606210  7.490657e+03     256.445645

                hours-per-week
age                  16.423176
education-num         4.606210
capital-gain       7490.656689
capital-loss        256.445645
hours-per-week      143.808040
Correlation:
                     age  education-num  capital-gain  capital-loss  \
age             1.000000       0.039483      0.081741      0.061498
education-num   0.039483       1.000000      0.126937      0.080562
capital-gain    0.081741       0.126937      1.000000     -0.032256
capital-loss    0.061498       0.080562     -0.032256      1.000000
hours-per-week  0.104074       0.150396      0.083168      0.052816

                hours-per-week
age                   0.104074
education-num         0.150396
capital-gain          0.083168
capital-loss          0.052816
hours-per-week        1.000000

<b> remove data that contain private in workclass <b/>

In [69]:
data1 = data1[~data1.workclass.str.contains("Private")]
data1.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
15,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K

In [70]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9445 entries, 0 to 35939
Data columns (total 14 columns):
age                9445 non-null int64
workclass          9445 non-null object
education_level    9445 non-null object
education-num      9445 non-null int64
marital-status     9445 non-null object
occupation         9445 non-null object
relationship       9445 non-null object
race               9445 non-null object
sex                9445 non-null object
capital-gain       9445 non-null int64
capital-loss       9445 non-null int64
hours-per-week     9445 non-null int64
native-country     9445 non-null object
income             9445 non-null object
dtypes: int64(5), object(9)
memory usage: 1.1+ MB

<b> will transform data from string to numbers usiing labelEncoder <b/>

In [106]:
from sklearn.preprocessing import LabelEncoder
data = data1
label_encoder = preprocessing.LabelEncoder() 
data1['workclass']= label_encoder.fit_transform(data1['workclass'])
data1['education_level']= label_encoder.fit_transform(data1['education_level'])
data1['marital-status']= label_encoder.fit_transform(data1['marital-status'])
data1['occupation']= label_encoder.fit_transform(data1['occupation'])
data1['relationship']= label_encoder.fit_transform(data1['relationship'])
data1['sex']= label_encoder.fit_transform(data1['sex'])
data1['native-country']= label_encoder.fit_transform(data1['native-country'])
data1['income']= label_encoder.fit_transform(data1['income'])
data1['race']= label_encoder.fit_transform(data1['race'])
data1['income'].unique()
data1.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,4,9,13,4,0,1,4,1,2174,0,40,37,0
1,50,3,9,13,2,3,0,4,1,0,0,13,37,0
7,52,3,11,9,2,3,0,4,1,0,0,45,37,1
11,30,4,9,13,2,8,0,1,1,0,0,40,17,1
15,25,3,11,9,4,4,3,4,1,0,0,35,37,0

<b> splitting the date to 30% tast and 70% training <b/>

In [94]:
from sklearn.model_selection import train_test_split
y = data1['income']
x = data1.drop('income',axis=1)
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=101)

<b> 1 - RandomForestClassifier <b/>

In [95]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=200)

In [102]:
clf.fit(x_train,y_train)
y_predTest = clf.predict(x_test)
print(y_predTest)

[0 1 1 ... 1 1 1]

In [97]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
print('Random Forest\n')
print(f'Accuracy for test set = {accuracy_score(y_test,y_predTest)*100} % \n')
print(classification_report(y_test,y_predTest))

Random Forest

Accuracy for test set = 80.94565984474241 %

              precision    recall  f1-score   support

           0       0.85      0.87      0.86      1902
           1       0.72      0.69      0.70       932

    accuracy                           0.81      2834
   macro avg       0.79      0.78      0.78      2834
weighted avg       0.81      0.81      0.81      2834

<b> Random Forest got 80.9% accuracy <b/>

<b>2- Ensemble Bagging Classifier  <b/>

In [103]:
from sklearn import ensemble
from sklearn.tree import DecisionTreeClassifier

clf1 = ensemble.BaggingClassifier(DecisionTreeClassifier(max_depth=10),n_estimators=200)

In [104]:
clf1.fit(x_train,y_train)
y_predTest1 = clf1.predict(x_test)

In [105]:
print('Bagging Using Decision Tree Classifier \n')
print(f'Accuracy for test set = {accuracy_score(y_test,y_predTest1)*100} % \n')
print(classification_report(y_test,y_predTest1))

Bagging Using Decision Tree Classifier

Accuracy for test set = 82.28652081863092 %

              precision    recall  f1-score   support

           0       0.86      0.88      0.87      1902
           1       0.74      0.72      0.73       932

    accuracy                           0.82      2834
   macro avg       0.80      0.80      0.80      2834
weighted avg       0.82      0.82      0.82      2834

<b> Bagging got 82.2% accuracy <b/>

<b>3- ensemble AdaBoostClassifier <b/>

In [107]:
clf2 = ensemble.AdaBoostClassifier(DecisionTreeClassifier(max_depth=10),n_estimators=200)

In [108]:
clf2.fit(x_train,y_train)
y_predTest2 = clf2.predict(x_test)

In [109]:
print('Adaboost Using Decision Tree Classifier \n')
print(f'Accuracy for test set = {accuracy_score(y_test,y_predTest2)*100} %\n')
print(classification_report(y_test,y_predTest2))

Adaboost Using Decision Tree Classifier

Accuracy for test set = 76.64079040225829 %

              precision    recall  f1-score   support

           0       0.82      0.83      0.83      1902
           1       0.65      0.64      0.64       932

    accuracy                           0.77      2834
   macro avg       0.74      0.73      0.73      2834
weighted avg       0.77      0.77      0.77      2834

<b> Adaboost got 76.6% accuracy <b/>

<b>4- MLPClassifier <b/>

In [110]:
from sklearn.neural_network import MLPClassifier
clf3 = MLPClassifier(hidden_layer_sizes=(500,), max_iter=30, solver='sgd', random_state=50)

In [111]:
clf3.fit(x_train,y_train)
y_predTest3 = clf3.predict(x_test)

C:\Users\abdel\Anaconda3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (30) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [121]:
print('MLPClassifier \n')
print('Accuracy for test set = ',accuracy_score(y_test,y_predTest3)*100,'%')
print(classification_report(y_test,y_predTest3))

MLPClassifier

Accuracy for test set =  74.2060691601976 %
              precision    recall  f1-score   support

           0       0.81      0.80      0.81      1902
           1       0.60      0.63      0.62       932

    accuracy                           0.74      2834
   macro avg       0.71      0.71      0.71      2834
weighted avg       0.75      0.74      0.74      2834

<b> MLPClassifier got 74.2% accuracy <b/>

<b>5- Decision Tree <b/>

In [113]:
from sklearn import tree

clf4 = tree.DecisionTreeClassifier(criterion='entropy',max_depth=3)
clf4 = clf4.fit(x_test,y_test)

In [114]:
y_predTest4 = clf4.predict(x_test)

In [115]:
print('Decision tree Classifier \n')
print('Accuracy for test set = ',accuracy_score(y_test,y_predTest4)*100,'%')
print(classification_report(y_test,y_predTest4))

Decision tree Classifier

Accuracy for test set =  79.07551164431898 %
              precision    recall  f1-score   support

           0       0.82      0.88      0.85      1902
           1       0.71      0.61      0.66       932

    accuracy                           0.79      2834
   macro avg       0.77      0.74      0.75      2834
weighted avg       0.79      0.79      0.79      2834

<b> Decision tree Classifier got 74.2% accuracy <b/>

<b>6- Naive bayes <b/>

In [117]:
from sklearn.naive_bayes import GaussianNB
clf5 = GaussianNB()

In [118]:
clf5.fit(x_test,y_test)
y_predTest5 = clf5.predict(x_test)

In [119]:
print('Naive Bayes Classifier \n')
print('Accuracy for test set = ',accuracy_score(y_test,y_predTest5)*100,'%')
print(classification_report(y_test,y_predTest5))

Naive Bayes Classifier

Accuracy for test set =  74.06492589978828 %
              precision    recall  f1-score   support

           0       0.74      0.94      0.83      1902
           1       0.72      0.34      0.46       932

    accuracy                           0.74      2834
   macro avg       0.73      0.64      0.65      2834
weighted avg       0.74      0.74      0.71      2834

<b> Naive Bayes Classifier got 74.0% accuracy <b/>

<b> Ensemble Bagging Using Decision Tree Classifier got highest Accuracy 82.28% <b/>